
.list-accordion {
    max-width: 600px;
    //background: #efefef;
    list-style: none;
    padding: 0px;

    li {
        user-select: none;
        span {
            float: right;
        }
    }

    label {
        position: relative;
        display: block;
        padding: 8px 18px 8px 22px;
        color: #000;
        cursor: pointer;
        margin-bottom: 0px;

        span {
            float: right;
            color: #828282;
        }

        .cms-btn-icon {
            display: none;
            position: absolute;
            top: 9px;
            right: 8px;
            padding: 8px;
        }

        &:hover {
            background-color: rgba(0,0,0,0.05);

            .cms-btn-icon {
                display: block;
            }
        }
    }

    .toggle {
        /* icons */
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transform-origin: 50% 50%;
        left: 3px;

        font: normal normal normal 14px/1 FontAwesome;
        transition: transform 0.3s;

        &:after {
            display: inline-block;
            width: 10px;
            height: 10px;
            font: normal normal normal 14px/1 FontAwesome;
            content: url(../svg/right_arrow.svg);
        }
    }

    ul {
        // first level
        list-style: none;
        padding: 0px;
        //background-color: rgba(255,255,255,0.1);
        //background-color: rgba(0, 0, 0, 0.05);

        label {
            //background: #efefef;
            //border-bottom: 1px solid #ccc;
            padding-left: 44px;
        }

        .toggle {
            left: 24px;
        }

        // second level
        ul {
            label {
                padding-left: 40px + 26px;
            }

            .toggle {
                left: 18px + 26px;
            }

            ul {
                label {
                    padding-left: 40px + 26px + 26px;
                }

                .toggle {
                    left: 18px + 26px + 26px;
                }
            }
        }
    }


    a {
        &.file {
            &:after {
                content: url(../svg/bullet.svg);
            }
        }
        &.folder {
            &:after {
                content: url(../svg/right_arrow.svg);
            }
        }
    }

    li.folder {
        > .open {
            > a.toggle {
                transition: transform 0.3s;
                transform: translateY(-25%) rotate(90deg);
            }
        }
    }
}




.list-accordion label::before {
    /* arrow icon */
    font: normal normal normal 14px/1 FontAwesome;
    left: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s;
}

.no-touch .list-accordion ul label:hover,
.no-touch .list-accordion ul a:hover {
    background: #3c3f45;
}
.list-accordion > li:last-of-type > label,
.list-accordion > li:last-of-type > a,
.list-accordion > li > ul > li:last-of-type label,
.list-accordion > li > ul > li:last-of-type a {
    box-shadow: none;
}